@font-face {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
}

@font-face {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url(../fonts/Roboto-Medium.woff2), url(../fonts/Roboto-Medium.woff);
}

@font-face {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(../fonts/Roboto-Bold.woff2), url(../fonts/Roboto-Bold.woff);
}

@font-face {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(../fonts/Roboto-Black.woff2), url(../fonts/Roboto-Black.woff);
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(../fonts/Raleway-Bold.woff2), url(../fonts/Raleway-Bold.woff);
}
