.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgDark;
  &__logo {
    display: flex;
    justify-content: center;
    @include desktop {
      display: block;
    }
  }
  &__container {
    display: block;
    align-items: baseline;
    @include desktop {
      display: flex;
    }  
  }
  &__wrap {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      box-align: baseline;
      align-items: baseline;
      margin-bottom: 60px;
    @include desktop {
      margin-bottom: 0;
      }
    }
  }
  &__contacts {
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 0;
      }
  }
  &__soc-media {
    text-align: center;
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 0;
    }
    @include desktop {
      margin-left: 70px;
    }     
  }
  &__text {
    margin-bottom: 20px;
    @include font(inherit, 700, 14px, 16px, 00.03em, $textWhite);
    text-transform: uppercase;
    @include desktop {
      text-align: start;
    }   
  }
  &__subscribe {
    text-align: center;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
    @include desktop {
      display: block;
      margin-left: auto;
    } 
  }
}
