.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(null, opacity, visibility, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include transition(null, null, opacity, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 93%;
  transform: translate(-50%, -50%) scale(1);
  @include boxShadow();
  border-radius: 4px;
  @include transition(null, null, transform, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  @include mobile {
    width: 450px;
    min-height: 609px;
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
  
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
  &__title {
    margin-bottom: 12px;
    @include font(inherit, 700, 20px, 23px, 0.03em, $textMain);
    text-align: center;
    @media screen and (max-width:336px) {
      font-size: 18px;
    }
  }
}

.privacy-wrap {
  margin-bottom: 30px;
  text-align: center;
}

.privacy {
  &__label {
    @include font(inherit, 400, 12px, 14px, 0.03em, $textSecondary);
    display: inline-block;
    text-align: center;

    @include desktop {
      @include font(null, null, 14px, 24px, null, null);
    }
      &--link {
        color: $colorAccent;
        @include transition(null, null, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
      }  
      &--link:hover {
      color: $bgHover;
    }
  }
  &__icon-check {
  fill: transparent;
    .privacy__input:checked + .privacy__label & {
      fill: $bgMain;
    }  
  }
  &__icon {
    margin-right: 8.38px;
    display: inline-block;
    justify-content: start;
    width: 16px;
    height: 15px;
    border: 2px solid $colorDark;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    @include transition(null, background-color, border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
      .privacy__input:checked + .privacy__label & {
        background-color: $colorAccent;
        border-color: $colorAccent;
        box-shadow: none;
      }  
      .privacy__input:focus + .privacy__label & {
        border: 2px solid $colorAccent;
      }  
  }
}
