.button {
  @include btnL(inline-block);
  @include transition(null, null, background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus {
    @include btnHoverFocus(null, $bgHover);
  }
  &-close {
    @include btnS();
    @include centeredFlex(flex);
    &:hover,
    &:focus {
      fill: $colorAccent;
    }
  }
  &-modal {
    display: block;
    margin: 0 auto;
    @include btnHoverFocus(null, null);
  }
  &__icon--end {
    margin-left: 10px;
    fill: currentColor;
  }
  &-icon {
    @include centeredFlex(inline-flex);
    margin-left: 0px;
    margin-top: 20px;
    color: $textWhite;
    @include tablet {
      display: flex;
      margin: 0 auto;
      margin-top: 20px;
    }
    @include desktop{
      @include centeredFlex(inline-flex);
      margin-top: 0;
      margin-left: 12px;
    } 
  }
  &-menu {
    position: relative;
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include transition (null, null, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));    
    @media screen and (min-width: 767px) {
      display: none;
    } 
  
    &__icon--open {
      fill: currentColor;
      @include transition (null, null, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));  
      &:hover,
      &:focus {
        color: $colorAccent;
      }
    }
    &__icon--close {
      display: inline-flex;
      position: absolute;
      top: 10px;
      right: 15px;

      align-items: center;
      margin-left: auto;
      border: none;
      background-color: transparent;
      
      fill: currentColor;      
      @include transition (null, null, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
      &:hover,
      &:focus {
        color: $colorAccent;
      }
  }  
}
}

.buttons {
  &-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    row-gap: 15px;
    column-gap: 8px;
    @include tablet {
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      }
    @include desktop {
      margin-bottom: 30px;
    }
  }
  &__portfolio {
    @include btnM(inline-block);
    @include transition(color, background-color, box-shadow, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
      @include btnHoverFocus($textWhite, $colorAccent);
    }
    &--current {
      @include btnHoverFocus($textWhite, $colorAccent);
    }
  }
}
