.form {
  &__input {
    @include input(12px, 16px, 12px, 42px, null, 100%, 40px, $inputStroke);
    outline: transparent;
    @include font(inherit, 400, 14px, 16px, 0.01em, $textMain);
    @include transition(null, outline, border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
    &:focus {
      outline: 1px solid $colorAccent;
      border-color: $colorAccent;
    }
    &:focus + .form__icon {
      fill: $colorAccent;
    }
    &--footer {
      @include input(15px, 0, 15px, 16px, 0, 100%, 50px, $inputFooterStroke);
      @include tablet {
        @include input(null, null, null, null, null, 450px, null, null);  
      }
      @include desktop {
        @include input(null, null, null, null, null, 358px, null, null);
      }
    }
    &--footer::placeholder {
      @include font(inherit, 400, 16px, 20px, 0.03em, $textTransparent);
    }
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    @include font(inherit, 400, 12px, 14px, 0.01em, $textSecondary);
    &--footer {
      margin-bottom: 0;
    }
  }
  &__wrap {
    &--information {
      position: relative;
      flex-direction: column;
      margin-bottom: 10px;
    }
    &--comment {
      margin-bottom: 20px;
    }
  }
  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    @include transition(null, null, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  }

  &__text-area {
    resize: none;
    @include input(12px, 16px, 12px, 16px, null, 100%, 100%, $inputStroke);
    @include font(inherit, 400, 14px, 16px, 0.01em, $textMain);
    @include transition(null, outline, border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
    &:focus {
      outline: 1px solid $colorAccent;
      border-color: $colorAccent;
    }
    &::placeholder {
      color: $textArea;
    }
  }
}
