.overlay {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgOverlay;
  transform: translatey(150%);
  @include transition(null, null, transform, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  .product__item:hover &,
  .product__item:focus & {
    transform: translatey(0);
  }
  & > &__text {
    padding: 63px 24px;
    @include font(inherit, 400, 18px, 28px, 0.03em, $textWhite);
  }
}