$colorAccent: #2196f3;
$colorDark: #212121;
$colorGrey: #afb1b8;

$bgMain: #ffffff;
$bgDark: #2f303a;
$bgLight: #f5f4fa;
$bgHover: #188ce8;
$bgOverlay: rgba(33, 150, 243, 0.9);
$bgTransparent: rgba(255, 255, 255, 0.1);
$bgLabel: rgba(47, 48, 58, 0.8);

$textMain: #212121;
$textSecondary: #757575;
$textDark: #000000;
$textWhite: #ffffff;
$textTransparent: rgba(255, 255, 255, 0.6);
$textArea: rgba(117, 117, 117, 0.5);

$btnDefault: #f5f4fa;
$inputStroke: rgba(33, 33, 33, 0.2);
$inputFooterStroke: rgba(255, 255, 255, 0.3);
$strokeLight: #eeeeee;
$strokeGrey: #afb1b8;
